* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0b0b0b;
  color: #fff;
  line-height: 1.6;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.red {
  color: #e50914;
}

.hero h2 {
  margin-top: 10px;
  color: #aaa;
}

.buttons {
  margin-top: 30px;
}

.buttons a {
  margin: 0 10px;
  padding: 12px 25px;
  border: 2px solid #e50914;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.buttons a:hover {
  background: #e50914;
  box-shadow: 0 0 15px #e50914;
  transform: translateY(-3px);
}

/* SECTIONS */
.section {
  padding: 80px 10%;
}

.section h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #e50914;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  padding: 30px;
  background: #111;
  border: 1px solid #222;
  transition: 0.4s;
}

.card:hover {
  background: #e50914;
  color: #fff;
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 30px rgba(229,9,20,0.6);
}

/* SCROLL ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.left {
  transform: translateX(-80px);
}

.right {
  transform: translateX(80px);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;
  }
}
